*{
    padding: 0px;
    margin: 0px;
}

#first-navbar
{
    display: flex;
    /* background: #444; */
    background-color: #9B9B9B;
}

#first-tab 
{
    height: 100%;
    width: 100%;
}

.first-tab img
{
    margin: 15px;
    color: aliceblue;
}

.second-tab
{
    background:  #333;
    color: #9B9B9B;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    padding: 5px 40px 5px 40px;
    text-transform: uppercase;
}


.social-icons i {
    background-color: #183661;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 0 5px;
    padding-top: 5px;
}