*{
    padding: 0px;
    margin: 0px;
}

#first-navbar
{
    display: flex;
    background: #333;
}

.first-tab a image{
    max-height: 100%;
    max-width: 100%;
    margin-top: 15px;
}

#first-navbar .second-tab
{
    color: #9B9B9B;
    font-size: 19px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

#first-navbar .icons{
    background: #333;
}